/*Inicio Navbar*/
nav{
    background-color: var(--second-color);
    background-size: cover;
    padding: 14px;
    position: static;
    border-bottom: 3px solid white;
}

#navbarra{
    display: flex;
    justify-content: end;
    padding: 10px 6%;
}

.nav-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-texto{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--font-color);
    letter-spacing: 1px;
    align-items: center;
    margin-right: 24px;
}

.nav-texto{
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    transition: all 0.3s ease 0s;
}

.nav-texto:hover{
    color: var(--primary-color); 

}

.nav-flag{
    display: flex;
    flex-direction: column;
}
/* Fim da Navbar */

/* Perfil */
.main-perfil{
    margin-top: 200px;
    background-image: url(fundo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

.foto-primary{
    display: flex;
    justify-content: center;
    margin-top: -140px;
}

.biografia{
    margin: 0;
    padding: 10px;
    color: var(--font-color);
    font-family: "inter", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.nome{
    font-family: "inter", sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.idade{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.frase{
    display: flex;
    justify-content: center;
    padding: 6px;
}

.habilidades{
    display: flex;
    justify-content: center;
    word-spacing: 40px;
    padding: 8px;
}

/* Fim do Peril */
